# created by virtualenv automatically
/Lib
/Scripts
.idea/
pyvenv.cfg
py_env/
*.json
/raw_output
.next.txt
config.py
.cache*
__pycache__
configure.py
data_collection/spotify/
.ipynb_checkpoints
out_notebook/